{% if status %}
    <div class="blog-post">
        {% for onePost in data.posts %}
            <h2 class="blog-post-title"><a href="{{ url('show_post', {'id': onePost.id}) }}">{{ onePost.title }}</a></h2>
            <p class="blog-post-meta">{{ onePost.createdAt|localizeddate('full', 'short', 'en') }}</p>
            <p>{{ onePost.description }}</p>
            <hr>
        {% endfor %}
    </div>

    {%  if data.isPrevPage or data.isNextPage %}
        <nav class="blog-pagination">
            <button id="postPrevBtn" class="btn btn-outline-primary{% if not data.isPrevPage %} disabled{% endif %}" href="#">Prev</button>
            <button id="postNextBtn" class="btn btn-outline-primary{% if not data.isNextPage %} disabled{% endif %}" href="#">Next</button>
        </nav>
    {% endif %}

{% else %}
    <div class="alert alert-danger" role="alert">
        {{ error }} <a href="{{ url('admin_create_blog_post') }}">ADD</a>
    </div>
{% endif %}
