{% extends 'base.html.twig' %}

{% block title %}{% block title_prefix %}Layout Default Title Prefix{% endblock %} - Admin - {{ app_twig_var.service_name }}{% endblock %}

{% block stylesheets %}

    {% block meta %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
    {% endblock %}

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
    <link href="{{ asset('assets/backend/css/dashboard.css') }}" rel="stylesheet">

    <!-- BEGIN PAGE LEVEL STYLES -->
    {% block cssPageLevel %}{% endblock %}
    <!-- END PAGE LEVEL SCRIPTS -->
{% endblock %}

{% block javascripts %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    {#<!-- Placed at the end of the document so the pages load faster -->#}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ asset('assets/frontend/js/ie10-viewport-bug-workaround.js') }}"></script>

    {#<!-- BEGIN PAGE LEVEL SCRIPTS -->#}
    {% block jsPageLevelScripts %}{% endblock %}
    {#<!-- END PAGE LEVEL SCRIPTS -->#}
{% endblock %}

{% block body %}

    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
        <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{{ url('admin_blog_post_create') }}">Dashboard</a>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url('homepage') }}">Blog <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            {#<form class="form-inline mt-2 mt-md-0">#}
                {#<input class="form-control mr-sm-2" type="text" placeholder="Search">#}
                {#<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
            {#</form>#}
        </div>
    </nav>

    {% set currentRoute = app.request.attributes.get('_route') %}
    <div class="container-fluid">
        <div class="row">
            <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link{% if currentRoute == 'admin_blog_post_create' %} active{% endif %}" href="{{ url('admin_blog_post_create') }}">Add</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if currentRoute == 'admin_blog_post_delete' %} active{% endif %}" href="{{ url('admin_blog_post_delete') }}">Delete</a>
                    </li>
                </ul>
            </nav>

            <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
                {% block main_content %}{% endblock %}
            </main>
        </div>
    </div>
{% endblock %}
